# downloaded rootfs tarballs
/tarballs

# rootfs images (.img*)
/images

# local nbd config
/nbd/config

# xbps package cache
/pkgcache

# local void-packages clone(s)
/void-packages*

# static xbps install
/xbps-static

# all image files
/*.img

# all hidden files except .gitignore
.*
!.gitignore

